{% extends 'base.html' %}

{% block body_class %}login{% endblock %}

{% block content %}
<div class="container" id="home-hero">
  <div class="row justify-content-md-center">
    <div class="col-md-6" id="transbox">
      <h1 class="join-message">Login Here!</h1>

      <form method="POST" id="user_form">
        {{ form.hidden_tag() }}

        {% for field in form if field.widget.input_type != 'hidden' %}
          {% for error in field.errors %}
            <span class="text-danger">{{ error }}</span>
          {% endfor %}
          {{ field(placeholder=field.label.text, class="form-control") }}
        {% endfor %}

        <button class="btn btn-danger btn-block btn-lg">Log in</button>
      </form>
    </div>
    </div>
  </div>

{% endblock %}